<article class="post">
      <div class="post-title">
        <h3>{{title}}</h3>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
      </div>
      <div class="post-body">
          {{post_text}}
      </div>
      <div class="comments">
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
</article>